@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Jost:wght@100;200&family=Libre+Bodoni&family=Playfair+Display&display=swap');


h3{
    font-family: 'Libre Bodoni', serif;
    color: rgb(8, 10, 10);
}

.card{
    width: 800px;
   
}

.card {
    margin: 0 auto; 
    float: none; 
    
}